<div class="jumbotron">
  <h1><i class="fa fa-circle-o-notch"></i>Fakiki</h1>
  <p>An app to help organize your daily tasks.</p>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</div>

