<div class="jumbotron">
<div class="overlay text-center">
  <h1><i class="fa fa-circle-o-notch"></i><span class="logo">Fakiki</span></h1>
  <p>An app to help organize your daily tasks.</p>
  <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
</div>

</div>

